#pagination {
    display: flex;
    justify-content: center;
}

.city-cards {
    display: flex;
    flex-wrap: wrap;
}

.city-card {
    flex: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    text-align: center;
}