<mat-toolbar>
  <mat-icon>public</mat-icon>
  <span id="title">City Search</span>
</mat-toolbar>

<div class="background-container">
  <div class="background-image"></div>
  <div class="container">
    <h1>¿What will you find today?</h1>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="search-form">
      <mat-form-field appearance="fill" class="search-input">
        <input matInput placeholder="Search city" [(ngModel)]="searchTerm" name="term" (keydown.enter)="onSubmit()">
        <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="search-button">Search</button>
    </form>
    <ng-container *ngIf="isFormSubmitted">
      <app-city-list id="cities-list" [cities]="cities" [isFormSubmitted]="isFormSubmitted" [term]="searchTerm"></app-city-list>
    </ng-container>
  </div>
</div>




